{% extends 'base.html' %}
{% block title %}
  Вход в систему
{% endblock %}
{% block userinfo %}

{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <div class="jumbotron">
        <form method="POST" name="login_form" id="login_form">
              {{ form.csrf_token }}
          <div class="form-group">
              {{ form.username.label }}{{ form.username(class_="form-control form-control-sm") }}
          </div>
          <div class="form-group">
              {{form.password.label }}{{ form.password(class_="form-control form-control-sm") }}
          </div>
          <div class="form-group">
              <div class="form-check">
                  {{ form.remember_me() }}{{form.remember_me.label }}
              </div>
          </div>
          <p class="text-center">{{ form.submit(class_="btn btn-primary") }}</p>
        </form>
        <p class="text-center"><a href="{{ url_for('users_bp.restore') }}">Забыли пароль?</a> | <a href="{{ url_for('users_bp.register') }}">Зарегистрироваться</a></p>
    </div>
  </div>
  <div class="col-sm-4">
  </div>
</div>
{% endblock %}
