<h1>Регистрация новго пользователя</h1>
<div style="width:300px;margin:auto;">
  <form method="post">
    {{ form.csrf_token }}
    <p>{{ form.first_name.label }} {{ form.first_name }}</p>
    <p>{{ form.last_name.label }} {{ form.last_name }}</p>
    <p>{{ form.username.label }} {{ form.username }}</p>
    <p>{{ form.email.label }} {{ form.email }}</p>
    <p>{{ form.password.label }} {{ form.password }}</p>
    <p>{{ form.password2.label }} {{ form.password2 }}</p>
    <p>{{ form.submit}}</p>
  </form>
</div>
