{% if call_comments %}
<ul>
  {% for call_comment in call_comments %}
  <li>
    <strong>{{ call_comment.comment_date.strftime('%d.%m.%y %H:%M') }} - {{ call_comment.user.username }}</strong><br />
      {{ call_comment.text}}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Нет комментариев</p>
{% endif %}
