{% extends 'base.html' %}
{% block title %}
  Вход в систему
{% endblock %}
{% block userinfo %}

{% endblock %}
{% block content %}
<div>
<a href="{{url_for('calls_bp.index') }}"> << Назад</a></div>
<table>
  <tbody>
    <tr>
      <td>Откуда звонили
      </td>
      <td>{{ call.caller_id }}
      </td>
    </tr>
    <tr>
      <td>На какой номер звонили
      </td>
      <td>{{ call.called_id }}
      </td>
    </tr>
    <tr>
      <td>Время звонка
      </td>
      <td>{{ call.calltime.strftime('%d.%m.%y %H:%M') }}
      </td>
    </tr>
    <tr>
      <td>Перезвонили?
      </td>
      <td><form method="POST">{% if call.is_called_back == true %}
        <input type="checkbox" checked disabled />
        {% else %}
        <input type="checkbox" name="called_back" /> <input type="submit" value="Перезвонить" />
        {% endif %}
        </form>
      </td>
    </tr>
  </tbody>
</table>
<div id="comment-form">
  {% include 'calls/comment_form.html' %}
</div>
<div id="comments">
  {% include 'calls/comment_list.html' %}
</div>
{% endblock %}
