{% extends 'base.html' %}
{% from 'pagination.html' import render_pagination with context %}
{% block title %}
  Пропущенные звонки
{% endblock %}
{% block content %}
    {{ render_pagination(calls, "calls_bp.index") }}
    <table class="table table-hover table-sm">
      <thead class="thead-dark">
        <tr>
          <th>
            Номер телефона
          </th>
          <th>
            На какой номер звонили
          </th>
          <th>
            Дата и время
          </th>
        </tr>
      </thead>
      <tbody>
        {% if calls %}
        {% for call in calls.items %}
        <tr scope="row">
          <td>
            <a href="{{ url_for('calls_bp.call_detail', call_id=call.id) }}">{{ call.caller_id }}</a>
          </td>
          <td>
            {{ call.called_id }}
          </td>
          <td>
            {{ call.calltime.strftime('%d.%m.%y %H:%M') }}
          </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td colspan="3">
            Нет данных о пропущенных
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
{{ render_pagination(calls, "calls_bp.index") }}
{% endblock %}
