<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}
    {% endblock %}</title>
    <script type="text/javascript" src="{{ url_for("static", filename="js/jquery-3.3.1.min.js")}}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/bootstrap.min.js")}}"></script>
    <link type="text/css" rel="stylesheet" href="{{url_for("static", filename="css/bootstrap.min.css")}}">
  </head>
  <body>
    {% block userinfo %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="navbar-nav">
          {% if current_user.is_authenticated %}
          <span class="navbar-text">{{ current_user.username }} | </span><a href="{{ url_for("users_bp.logout") }}" class="nav-item nav-link">Выход</a>
          {% else %}
          <a href="{{ url_for("users_bp.login") }}" class="nav-item nav-link">Вход</a><span class="navbar-text"> | </span><a href="{{ url_for("users_bp.register") }}" class="nav-item nav-link">Регистрация</a>
          {% endif %}
      </div>
    </nav>
    {% endblock %}
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
  </body>
</html>
