{% macro render_pagination(pagination, endpoint) %}
<nav>
<ul class="pagination justify-content-center pagination-sm">
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
      <li class="page-item">
        <a href="{{ url_for(endpoint, page=page) }}" class="page-link">{{ page }}</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">{{ page }}</a>
      </li>
      {% endif %}
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">…</a>
    </li>
    {% endif %}
  {%- endfor %}
  </ul>
  </nav>
{% endmacro %}
